@model Amjad.Models.Page
@{
    ViewBag.Title = "من نحن";
}


<!-- Start About Section -->
<section class="about padding-lg">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 left-block">
               @Html.Raw(Model.Details)
                @*<a href="who-we-are.html" class="know-more">تعرف أكثر </a>*@
            </div>
            <div class="col-12 col-md-6 right-block">
                <img src="~/Content/Files/@Model.ImageName" class="img-responsive" alt="@Model.Title">
            </div>
        </div>
    </div>
</section>
<!-- End About Section --> 